<h1>プロフィール画面</h1>
<p><%= t(:email)%> : <%= @user.email %></p>
<p><%= t(:postcode)%> : <%= @user.postcode %></p>
<p><%= t(:address)%> : <%= @user.address %></p>
<p><%= t(:biography)%> : <%= @user.biography %></p>
<p><%= t(:image)%> : <%= image_tag(@user.image) if @user.image.attached? %>
