<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>
<h2>コメント一覧</h2>
<% @comments.each do |c| %>
<div>
  <%= c.user.email %>
  <%= c.content %>
  <%= link_to "編集", edit_report_comment_path(@report, c)%> |
  <hr>
</div>
<% end %>
<%= form_for [@report, @comment] do |f| %>
<% if @comment.errors.any? %>
<div class="alert alert-warning">
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :commentable_type, value: @comment.commentable_type %>
<%= f.hidden_field :commentable_id, value: @comment.commentable_id %>
<%= f.text_area :content %>
<br>
<%= f.submit 'コメントする' %>
<% end %>
<%= link_to Report.human_attribute_name(:edit), edit_report_path(@report) %> |
<%= link_to Report.human_attribute_name(:back), reports_path %>
